.sticky-container{
    position: absolute;
    top: 100px;
    right: 100px;
    overflow-y: scroll;
    
    width: 150px;
    height: 150px;
    
    padding: 20px 20px 20px 20px;
    background: rgb(253, 253, 150);
    color: black;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px;
    z-index: 9999999999999999999;
}


.sticky-shockerella {
    
    
    width: 100%;

    
    
    /*closebutton {
        display: none;
        width: 20px;
        height: 20px;
        left: -12px;
        top: -12px;
        font-size: 30px;
        line-height: 10px;
        background-color: black;
        position: absolute;
        color: white;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 7px;
        text-align: center;
        cursor: pointer;
        box-sizing: content-box;
        border-width: 2px;
        border-style: solid;
        border-color: white;
        border-image: initial;
        border-radius: 20px;
    }*/

    
}

.sticky-shockerella:focus{
    outline: 0px solid transparent;
}

.sticky-shockerella:empty:not(:focus):before{
    content:attr(placeh)
}

.closeButton {
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    right: 3px;
    top: 3px;
    font-size: 22.5px;
    line-height: 7.5px;
    background-color: black;
    color: white;
    /*box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 7px;*/
    text-align: center;
    cursor: pointer;
    box-sizing: content-box;
    border-width: 1.5px;
    border-style: solid;
    border-color: white;
    border-image: initial;
    border-radius: 15px;
    
    contenteditable: false;
}
