
.sticky-shockerella {
    
    
    position: absolute;
    top: 100px;
    right: 100px;
    overflow-y: scroll;
    
    padding: 10px 10px 20px 10px;
        
    width: 200px;
    height: 200px;
    background: rgb(253, 253, 150);
    color: black;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px;
}

.sticky-shockerella:empty:not(:focus):before{
    content:attr(placeh)
}
